<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxee.dataservice.mapper.BidInfoMapper">
    <select id="selectSumBidMoney" resultType="java.math.BigDecimal">
      SELECT
          sum(bid_money) as sumBidMoney
      FROM
          b_bid_info
    </select>
    <select id="selectByProductId" resultType="com.rxee.api.entity.BidInfoProduct">
        SELECT
            bid.id,
            CONCAT( SUBSTRING( u.phone FROM 1 FOR 3 ), "******", SUBSTRING( u.phone FROM 10 FOR 2 ) ) AS phone,
            bid.bid_money,
            DATE_FORMAT( bid.bid_time, "%Y-%m-%d %H:%i:%s" ) AS bid_time
        FROM
            b_bid_info bid
            JOIN u_user u ON bid.uid = u.id
        WHERE
            bid.prod_id = #{prodId}
        ORDER BY
            bid.bid_time DESC
            LIMIT #{offset},#{pageSize}
    </select>
</mapper>
