<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxee.dataservice.mapper.ProductInfoMapper">
  <select id="selectAvgRate" resultType="java.math.BigDecimal">
    select round(avg(rate),2) as avgRate from b_product_info
  </select>

</mapper>
